/*CSS general de elementos*/
*{
    margin: 0px;
    padding: 0px;
}   
body{
    background-color: #222;
    color:white;
    font: 200 14px'Poppins', sans-serif;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
nav{
    position:fixed;
    width: 100%;
    height: 55px;
    background-color: #222;
    border-bottom: 1px solid white;
    padding-top: 10px;
    text-align: center;
}
nav ul{
    display: inline-block;
}
nav ul li{
    padding-top: 12px;
}
section{
    padding: 10px 100px 10px 100px;
}
p{
    text-align: justify;
}
thead{
    background-color: #222;
    color: white;
}
td{
    min-width: 150px;
}
cite{
    font-weight: 300;
}
i{
    font-size: 24px;
}
i:hover{
    color:#ffc900;
}
a:any-link{
    color: white;
}
:-webkit-any-link{
    color: white;
}
:-moz-any-link{
    color: white;
}
li{
    float: left;
    margin: 5px;
}
ul{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ffc900;
}
/* IDS y Clases*/
.hastag{
    color: #ffc900
}
#redessociales{
    margin-top: 20px;
}
#inicio{
    background-image: url("../Imagenes/inicio1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    padding-top: 75px;
}
#experiencia{
    background-color: white;
    color: #222
}
#portfolio{
    border-top: 1px solid #ffc900;
}
#logo{
    padding-top: 0px;
}
